* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
}
 
.heading-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #43281c;
    color: #fbf2c0;
    padding: 10px;

}
.coffe-master{
    color: bisque;
    font-size: 20px;
}
.coffe-image{
    height: 25px;
  position: relative;
  top: 3px;
}
.body-card{
    display: grid;
  row-gap: 30px;
  column-gap: 30px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  grid-template-areas:
    "order payment"
    "total total";
  grid-template-columns: 1fr 1fr;;
}
.order {
    grid-area: order;
}
  
.payment {
    grid-area: payment;
}
  
.total {
    grid-area: total;
}
.title{
    color: #885a2d;
  font-weight: normal;
  font-size: 16px;
}
ul{
    list-style-type:none;
}
.items-card{
  background-color: #eee1d5;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
}
.user-input{
  background-color: rgba(0,0,0,0);
  border: 2px #885a2d solid;
  padding: 8px;
  border-radius: 100px;
  width: 100%;
  text-indent: 18px;
  font-size: 18px;
}
.user-input-label{
  color: #885a2d;
  background-color: #eee1d5;
  font-size: 11px;
  position: absolute;
  left: 25px;
  top: -7px;
  padding: 0 2px;
}
.input-card{
    margin: 20px;
    position: relative;
    display: inline-block;
}
.name-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-card{
    display: flex;
    justify-content: space-between;
}

.item:last-child {
    border-bottom: none;
}
  
.item-quantity {
    grid-area: quantity;
    color: black;
    font-size: 30px;
    align-self: flex-start;
    font-weight: bold;
    padding: 20px;
}
  
.item-title {
    grid-area: title;
    font-weight: bold;
}
  
.item-price {
    grid-area: price;
    font-weight: bold;
    color: black;
}
.sub-total-card{
  grid-area: options;
  color: #B08968;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
p{
    color: #B08968;
}
.total{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-total-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 50px;
    max-width: 500px;
    margin-bottom: 30px;
    color: black;
}
.ai-space{
    padding-right: 100px;
    color:black;
}
.final-total{
    font-weight: bold;
}
.place-order-button{
    background-color: #deb993;
    border: none;
    padding: 10px 30px;
    width: 100%;
    border-radius: 100px;
    font-size: 20px;
    font-weight: bold;
}
.payment-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 