<head>
    <link rel="stylesheet" href="../cssproject.css" />
</head>
<body>
<div>
    <div class="heading-card">
        <img class="coffe-image" src="https://btholt.github.io/complete-intro-to-web-dev-v3/images/coffee_masters_logo.png" alt="'coffe-master" />
        <h1 class="coffe-master">Coffe Masters</h1>
    </div>
    <div class="body-card">
        <div class="items-card order">
            <h1 class="title">ITEMS</h1>
            <ul>
                <li class="list-card">
                    <div class="name-card">
                    <p class='item-quantity'>1x</p>
                    <div>
                        <h1 class="item-title" >Cappuccino</h1>
                        <p>Lite foam</p>
                    </div>
                    </div>
                    <p class='item-price'>$3.35</p>
                </li>
                <hr class="border-line"/>
                <li class="list-card">
                    <div class="name-card">
                    <p class='item-quantity'>1x</p>
                    <div>
                        <h1 class='item-title' >Cappuccino</h1>
                        <p>Lite milk</p>
                        <p>Double espressco</p>
                    </div>
                </div>
                    <p class='item-price'>$3.85</p>
                </li>
                <hr class="border-line"/>
                <li class="list-card">
                    <div class="name-card">
                    <p class='item-quantity'>1x</p>
                    <div>
                        <h1 class='item-title' >Cappuccino</h1>
                        <p>Butter</p>
                    </div>
                </div>
                    <p class='item-price'>$2.45</p>
                </li>
                
        </ul>
    </div>
    <div class="payment">
    <div class="items-card">
        <h1 class="title ">NAME</h1>
        <div class="input-card">
            <label class="user-input-label" for="name">Name for order</label>
            <input id="name"  placeholder="Ford Perfect" class="user-input"/>
        </div>
    </div>

    <div class="items-card ">
        <h1 class="title">PAYMENT</h1>
        <div class="payment-card">
        <div class="input-card">
            <label class="user-input-label" for="payment">Card number</label>
            <input id="payment"  placeholder="1234 5678 9012 3456" class="user-input"/>
        </div>

        <div class="input-card">
            <label class="user-input-label" for="ccv">CCV number</label>
            <input id="ccv"  placeholder="001" class="user-input"/>
        </div>
    </div>
    </div>
    </div>
    <div class="sub-total-container total">
        <ul class="sub-total-card">
            <li class="sub-total-list">
                <p class="ai-space">Subtotal:</p>
                <p>$9.65</p>

            </li>
            <li class="sub-total-list">
                <p class="ai-space">Tax:</p>
                <p>$0.82</p>
            </li>
            <li class="sub-total-list final-total">
                    <p class="ai-space">Total:</p>
                    <p>$10.47</p>
            </li>
        </ul>
        <button class="place-order-button">Place Order</button>
        </div>
    </div>
</div>
</body>



